@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000;
    color: #fff;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #555;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.active {
    opacity: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 100;
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
}

.hamburger {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 101;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: black;
    padding: 7px;
    transition: transform 0.3s ease;
}

.hamburger div {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    left: 6px;
}

.hamburger.active div:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
}

.menu {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: black;
    color: white;
    padding-top: 100px;
    transition: right 0.3s ease;
    z-index: 100;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 15px 50px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #555;
}

.menu.show {
    right: 0;
    z-index: 999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 50;
}

.overlay.show {
    display: block;
}

.main_wrapper {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2.2vw;
    margin: 100px 0 10px 0;
}

.main_news {
    margin-bottom: 40px;
}

.main_news a {
    display: block;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2vw;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.main_news a:last-child {
    border-bottom: none;
}

.main_news a:hover {
    text-decoration: underline;
}

.main_news .news_more {
    margin-top: 20px;
    text-align: right;
}

.main_news .news_more a {
    font-size: 1.2vw;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: 0.3s ease;
}

.main_news .news_more a:hover {
    opacity: 0.7;
}

.contents_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.contents_box {
    width: calc(33.33% - 40px);
    box-sizing: border-box;
    border: 1px solid #fff;
    position: relative;
}

.contents_box a {
    display: block;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease;
}

.contents_box img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.5;
    transition: 0.3s ease;
}

.contents_box a:hover img {
    opacity: 0.3;
}

.contents_box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    padding: 100px 0 10px 0;
    color: #fff;
}

.footer_wrapper ul{
    width: 100%;
    margin: 0 auto 10px 0;
    display: flex;
    justify-content: center;
}

.footer_wrapper ul li {
    list-style: none;
    margin: 0 20px;
}

.footer_wrapper ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s ease;
}

.footer_wrapper ul li a:hover {
    opacity: 0.7;
}

.site_warning {
    font-size: 10px;
}

.header_logo {
    position: fixed;
    top: 20px;
    left: 20px;
}

.header_logo a {
    transition: 0.3s ease;
}

.header_logo a:hover {
    opacity: 0.7;
}

.header_logo img{
    width: 150px;
    height: 100px;
}

.main_contents_wrapper {
    max-width: 70%;
    margin: 100px auto 0 auto;
    padding: 20px;
}

.contents_title {
    text-align: center;
    margin-bottom: 30px;
}

.contents_title p {
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 3px;
}

.news_wrapper {
    margin-bottom: 40px;
}

.news_wrapper a {
    display: block;
    padding: 20px 15px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.news_wrapper a:last-child {
    border-bottom: none;
}

.news_wrapper a:hover {
    text-decoration: underline;
}

.next_more {
    margin-top: 20px;
    text-align: right;
}

.next_more a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: 0.3s ease;
}

.next_more a:hover {
    opacity: 0.7;
}

.profile_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.profile_text {
    width: 70%;
    margin-top: 50px;
}

.profile_text p {
    font-size: 1vw;
    line-height: 2;
}

.profile_text_name p{
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.profile_image {
    width: 30%;
    padding: 0 0 100px 100px;
}

.profile_image img {
    width: 100%;
}

.profile_image_box {
    margin: 50px 0;
    text-align: center;
    align-items: center;
}

.profile_image_box img {
    width: 100%;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
}

.profile_image_box p {
    font-size: 1vw;
}


.discography_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
}

.discography_menu ul {
    list-style: none;
    padding: 0;
}

.discography_menu ul li {
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: left;
    display: block;
    width: 150px;
    transition: 0.2s ease;
    letter-spacing: 2px;

}

.discography_menu ul li:hover {
    background-color: #888888;
    color: #000;
}

.discography_menu ul li.active {
    background-color: #fff;
    color: #000;
}

.discography_menu {
    position: sticky;
    top: 245px;
    height: fit-content;
}

.discography_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
}

.discography_box {
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.discography_box a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.discography_box a:hover {
    opacity: 0.7;
}

.discography_box img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 1px solid #aaaaaa;
}

.discography_box p {
    color: #fff;
    margin: 5px 0;
    font-size: 1.2vw;
}

.discography_box p:nth-of-type(1) {
    font-size: 1vw;
}


.discography_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
}

.discography_menu ul {
    list-style: none;
    padding: 0;
}

.discography_menu ul li {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: left;
    display: block;
    width: 150px;
    transition: 0.2s ease;
    letter-spacing: 2px;

}

.discography_menu ul li:hover {
    background-color: #888888;
    color: #000;
}

.discography_menu ul li.active {
    background-color: #fff;
    color: #000;
}

.discography_menu {
    position: sticky;
    top: 245px;
    height: fit-content;
}

.discography_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.discography_box {
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.discography_box a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.discography_box a:hover {
    opacity: 0.7;
}

.discography_box img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 1px solid #aaaaaa;
}

.discography_box p {
    color: #fff;
    margin: 5px 0;
    font-size: 20px;
}

.discography_box p:nth-of-type(1) {
    font-size: 14px;
}


@media (max-width: 980px) {
    .slideshow-container {
        height: 50vh;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
        transform: translateY(-50%);
        z-index: 100;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .hamburger {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 101;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: black;
        padding: 7px;
        transition: transform 0.3s ease;
    }

    .hamburger div {
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        position: relative;
        left: 6px;
    }

    .hamburger.active div:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 12px;
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 12px;
    }

    .menu {
        width: 100%;
        right: -100%;
    }

    .main_wrapper {
        max-width: 95%;
        padding: 10px 30px;
    }

    .menu a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 30px;
        padding: 15px 50px;
        text-align: left;
        transition: background-color 0.3s ease;
    }

    h2 {
        font-size: 24px;
        margin: 30px 0 5px 0;
    }

    .main_news a {
        display: block;
        padding: 15px 10px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        transition: 0.3s ease;
    }

    .main_news .news_more {
        margin-top: 5px;
        text-align: right;
    }

    .main_news .news_more a {
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        transition: 0.3s ease;
    }

    .main_contents {
        flex-direction: column;
    }

    .contents_box p {
        font-size: 6vw;
    }

    .contents_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        padding: 5px 30px;
    }

    .contents_box {
        width: 100%;
    }   
    
    footer {
        text-align: center;
        padding: 50px 0 10px 0;
        color: #fff;
    }

    .footer_wrapper ul{
        width: 100%;
        margin: 0 auto 10px 0;
        display: flex;
        justify-content: center;
    }

    .footer_wrapper ul li {
        list-style: none;
        margin: 0 10px;
    }

    .footer_wrapper ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        transition: 0.3s ease;
    }

    header {
        height: 80px;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .header_logo img {
        width: 80px;
        height: 50px;
    }

    .main_contents_wrapper {
        padding: 20px 30px;
        margin: 60px auto 0 auto;
        max-width: 100%;
    }

    .contents_title {
        margin-bottom: 10px;
    }

    .contents_title p {
        font-size: 28px;
    }

    .news_wrapper a {
        padding: 15px 10px;
        font-size: 14px;
    }

    .next_more {
        margin-top: 10px;
        text-align: right;
    }

    .next_more a {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        transition: 0.3s ease;
    }

    .profile_wrapper {
        flex-direction: column;
        margin-top: -30px;
    }

    .profile_text {
        width: 100%;
        padding: 0 10px;
    }

    .profile_text p {
        font-size: 14px;
    }

    .profile_text_name p {
        font-size: 48px;
    }

    .profile_image {
        width: 100%;
        padding: 0 0 50px 0;
    }

    .profile_image_box {
        display: none;
    }

    .discography_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .discography_menu {
        position: sticky;
        top: 80px;
        width: 100%;
        background-color: #000;
        z-index: 100;


    }

    .discography_menu ul {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .discography_menu ul li {
        font-size: 14px;
        padding: 10px 5px;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 0;

    }

    .discography_area {
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    .discography_box p {
        color: #fff;
        margin: 5px 0;
        font-size: 12px;
    }

    .discography_box p:nth-of-type(1) {
        font-size: 10px;
    }


    .discography_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .discography_menu {
        position: static;
        width: 100%;
        text-align: center;
    }

    .discography_menu ul {
        display: flex;
    }

    .discography_menu ul li {
        font-size: 14px;
        padding: 10px 5px;
        letter-spacing: 1px;
        text-align: center;

    }

    .discography_area {
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    .discography_box p {
        color: #fff;
        margin: 5px 0;
        font-size: 12px;
    }

    .discography_box p:nth-of-type(1) {
        font-size: 10px;
    }

}
