@charset "UTF-8";
/* リセットCSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* メイン */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000;
    color: #fff;
}

/* index.html */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #555;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.active {
    opacity: 1;
}

/* ナビゲーションボタンのスタイル */
.prev, .next {
    position: absolute;
    top: 50%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 100;
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
}

/* ハンバーガーメニューアイコンのスタイル */
.hamburger {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 101;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: black;
    padding: 7px;
    transition: transform 0.3s ease;
}

.hamburger div {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    left: 6px;
}

.hamburger.active div:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
}

/* メニューエリアのスタイル */
.menu {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: black;
    color: white;
    padding-top: 100px;
    transition: right 0.3s ease;
    z-index: 100;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 15px 50px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #555;
}

.menu.show {
    right: 0;
}

/* オーバーレイのスタイル */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 50;
}

.overlay.show {
    display: block;
}

/* メイン */
.main_wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 32px;
    margin: 100px 0 10px 0;
}

.main_news {
    margin-bottom: 40px;
}

.main_news a {
    display: block;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc; /* 区切り線 */
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.main_news a:last-child {
    border-bottom: none;
}

.main_news a:hover {
    /* color: red; */
    text-decoration: underline;
}

.main_news .news_more {
    margin-top: 20px;
    text-align: right;
}

.main_news .news_more a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: 0.3s ease;
}

.main_news .news_more a:hover {
    opacity: 0.7;
}

.contents_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.contents_box {
    width: calc(33.33% - 40px);
    box-sizing: border-box;
    border: 1px solid #fff;
    position: relative; /* 中央配置のために親要素を相対位置にする */
}

.contents_box a {
    display: block; /* aタグをブロック要素にする */
    position: relative;
    text-decoration: none; /* リンクの下線を消す */
    transition: 0.3s ease;
}

/* .contents_box a:hover {
    opacity: 0.7;
} */

.contents_box img {
    width: 100%;
    height: auto;
    display: block; /* 画像をブロック要素にして余白をなくす */
    opacity: 0.5;
    transition: 0.3s ease;
}

.contents_box a:hover img {
    opacity: 0.3;
}

/* .contents_box img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.8s ease, filter 0.8s ease;
}

.contents_box a:hover img {
    opacity: 0;
    filter: brightness(0);
} */

.contents_box p {
    position: absolute; /* 画像の上に配置 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 中央に配置 */
    color: white;
    font-size: 30px; /* 必要に応じてサイズ調整 */
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6); /* 文字が見やすくなるように影を追加 */
    margin: 0;
    padding: 0;
}

/* フッター */
footer {
    text-align: center;
    padding: 100px 0 10px 0;
    color: #fff;
}

.footer_wrapper ul{
    width: 100%;
    margin: 0 auto 10px 0;
    display: flex;
    justify-content: center;
}

.footer_wrapper ul li {
    list-style: none;
    margin: 0 20px;
}

.footer_wrapper ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s ease;
}

.footer_wrapper ul li a:hover {
    opacity: 0.7;
}

.site_warning {
    font-size: 12px;
}

/* 中面共通 */
.header_logo {
    position: fixed;
    top: 20px;
    left: 20px;
}

.header_logo a {
    transition: 0.3s ease;
}

.header_logo a:hover {
    opacity: 0.7;
}

.header_logo img{
    width: 150px;
    height: 100px;
}

.main_contents_wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto 0 auto;
    padding: 20px;
}

.contents_title {
    text-align: center;
    margin-bottom: 30px;
}

.contents_title p {
    font-size: 48px;
    font-weight: bold;
}


/* news.html */
.news_wrapper {
    margin-bottom: 40px;
}

.news_wrapper a {
    display: block;
    padding: 20px 15px;
    border-bottom: 1px solid #ccc; /* 区切り線 */
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.news_wrapper a:last-child {
    border-bottom: none;
}

.news_wrapper a:hover {
    /* color: red; */
    text-decoration: underline;
}

.next_more {
    margin-top: 20px;
    text-align: right;
}

.next_more a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: 0.3s ease;
}

.next_more a:hover {
    opacity: 0.7;
}


/* profile.html */
.profile_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.profile_text {
    width: 70%;
    margin-top: 50px;
}

.profile_text p {
    font-size: 18px;
    line-height: 2;
}

.profile_text_name p{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.profile_image {
    width: 30%;
    padding: 0 0 100px 100px;
}

.profile_image img {
    width: 100%;
}

.profile_image_box {
    margin: 50px 0;
    text-align: center;
    align-items: center;
}

.profile_image_box img {
    width: 100%;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
}



/* スマホ用 */
@media (max-width: 980px) {
    .slideshow-container {
        height: 50vh;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
        transform: translateY(-50%);
        z-index: 100;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .hamburger {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 101;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: black;
        padding: 7px;
        transition: transform 0.3s ease;
    }

    .hamburger div {
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        position: relative;
        left: 6px;
    }

    .hamburger.active div:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 12px;
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 12px;
    }

    .menu {
        width: 100%; /* 画面幅いっぱいに広げる */
        right: -100%; /* 画面外に隠す */
    }

    .main_wrapper {
        padding: 10px 30px;
    }

    .menu a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 30px;
        padding: 15px 50px;
        text-align: left;
        transition: background-color 0.3s ease;
    }

    h2 {
        font-size: 24px;
        margin: 30px 0 5px 0;
    }

    .main_news a {
        display: block;
        padding: 15px 10px;
        border-bottom: 1px solid #ccc; /* 区切り線 */
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        transition: 0.3s ease;
    }

    .main_news .news_more {
        margin-top: 5px;
        text-align: right;
    }

    .main_news .news_more a {
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        transition: 0.3s ease;
    }

    .main_contents {
        flex-direction: column;
    }

    .contents_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        padding: 5px 30px;
    }

    .contents_box {
        width: 100%;
    }   
    
    footer {
        text-align: center;
        padding: 50px 0 10px 0;
        color: #fff;
    }

    .footer_wrapper ul{
        width: 100%;
        margin: 0 auto 10px 0;
        display: flex;
        justify-content: center;
    }

    .footer_wrapper ul li {
        list-style: none;
        margin: 0 10px;
    }

    .footer_wrapper ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        transition: 0.3s ease;
    }

    header {
        height: 80px;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .header_logo img {
        width: 80px;
        height: 50px;
    }

    .main_contents_wrapper {
        margin: 60px 0 0 0;
        padding: 20px 30px;
    }

    .contents_title {
        margin-bottom: 10px;
    }

    .contents_title p {
        font-size: 28px;
    }

    .news_wrapper a {
        padding: 15px 10px;
        font-size: 14px;
    }

    .next_more {
        margin-top: 10px;
        text-align: right;
    }

    .next_more a {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        transition: 0.3s ease;
    }

    .profile_wrapper {
        flex-direction: column;
        margin-top: -30px;
    }

    .profile_text {
        width: 100%;
        padding: 0 10px;
    }

    .profile_text p {
        font-size: 14px;
    }

    .profile_text_name p {
        font-size: 48px;
    }

    .profile_image {
        width: 100%;
        padding: 0 0 50px 0;
    }

    .profile_image_box {
        display: none;
    }

}
